*{
    box-sizing: border-box;
}

html {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #D8C3A5;
    padding:10px;
}

footer {

    bottom: 0;
    text-align: center;
    width: 100%;
    align-items: center;
}
.header-icon {
    width: 30px;
}

body {
    background-color: #bdac80;
    background-image: url("https://www.transparenttextures.com/patterns/white-brushed.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#draft-card {
width: 340px;
}

.card {
width: 340px;
height: 160px;
border: 2px solid #E98074;
/* padding: 2%; */
margin: 1vh;
border-radius: 10px;
background-color: white;
text-align: center;
word-wrap: break-word;
}

textarea{
    resize: none;
    height: 85px;
    width: 95%;
    margin: 5px;
    border: none;
    font-size: x-large;
    text-align: center;
    background:transparent;
    outline:none
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:  start;
    align-items: start;
    min-height: 63vh;
}

p {
   margin: 0%;
   padding: 3px 0 0 3px;
}

h2 {
    margin: 5px;
}

#checkBox {
    float: inline-end;
    margin-right: 5px;
}

button{
    margin: 5px;
}

.draft-card-bottom{
    display: flex;
    justify-content: end;
}
.cards-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 5px;
    width: 95%;
}
.cards-middle {
    height: 85px;
    margin: 5px;
}

.cards-top {
    height: 25px;

}

.draft-card-container {
display: flex;
flex-direction: column;
justify-content:  center;
align-items: center;
}
