@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
}

.page-title {
	@apply text-3xl font-semibold mb-4;
}

@layer components {
	.social-login,
	.social-register {
		@apply flex flex-wrap justify-evenly items-center gap-4;
		/* display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		gap: 1rem; */
	}

	.social-login .social-button,
	.social-register .social-button {
		@apply flex flex-col items-center justify-center w-[100px] p-3 gap-3 text-base rounded-lg cursor-pointer;
		border: 2px solid #ddd9e2;
		background-color: white;
		/* margin: 5px;
		display: flex;
		flex-direction: column;
		width: 100px;
		gap: 0.8rem;
		cursor: pointer;
		font-size: 1rem;
		padding: 0.75rem;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-radius: 0.5rem;
		border-color: #ddd9e2;
		border: 2px solid #ddd9e2;
		background-color: white; */
	}

	.social-login .social-button:hover,
	.social-register .social-button:hover {
		@apply border-[#afa3bd] bg-[#d8d1e0] transition ease-in duration-100;
		/* border-color: #afa3bd;
		transition: 0.1s ease;
		background-color: #d8d1e0; */
	}

	.social-icon {
		@apply max-w-[32px] p-[5px];
		/* max-width: 32px;
		padding: 5px; */
	}
}

html {
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

header {
	background-color: #d8c3a5;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	padding: 0 15px;
}
footer {
	bottom: 0;
	text-align: center;
	width: 100%;
	align-items: center;
	height: 3vh;
	margin-top: auto;
}

.header-icon {
	width: 30px;
}

.main-page-container {
	background-color: #bdac80;
	background-image: url("https://www.transparenttextures.com/patterns/white-brushed.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.main {
	min-height: 95vh;
	display: flex;
	flex-direction: column;
}

body {
	background-color: white;
	margin: 0px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

#draft-card {
	width: 340px;
	height: 165px;
	border: 2px solid #8c48da;
}

.card {
	width: 340px;
	height: 170px;
	border: 2px solid #0d71c4;
	margin: 1vh;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	word-wrap: break-word;
}
.card-hovered {
	background-color: #d0e0f7;
	border: 2px solid #ffe485;
}
.card-high-priority {
	border: 2px solid #df0b39;
}

.card-done {
	border: 2px solid #0d7016;
}

textarea {
	resize: none;
	height: 85px;
	width: 95%;
	border: none;
	font-size: xx-large;
	text-align: center;
	background: transparent;
	outline: none;
	font-weight: bold;
	font-family: "Work Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	padding: 0%;
	overflow: hidden;
}

.cards-container,
.high-priority-cards-container,
.done-cards-container {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
}

@media (min-width: 1067px) {
	.cards-container,
	.high-priority-cards-container,
	.done-cards-container {
		justify-content: start;
	}
}
@media (max-width: 1066px) {
	.cards-container,
	.high-priority-cards-container,
	.done-cards-container {
		justify-content: center;
	}
}

p {
	padding: 2px;
	margin: 0%;
}

#card-id-display {
	margin: 0%;
	padding: 3px 0 0 3px;
}

#card-text {
	margin: 5px;
	height: 85px;
	font-size: xx-large;
}

.summary {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 5px;
	background-color: #ebdfdf;
}

#summary-heading {
	background-color: #ffffff;
}

#checkBox {
	float: inline-end;
	margin-right: 5px;
}

.draft-card-bottom {
	display: flex;
	justify-content: end;
}
.cards-bottom {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin: 5px;
	width: 95%;
}
.cards-middle {
	height: 85px;
	margin: 5px;
}

.cards-top {
	height: 25px;
	display: flex;
	justify-content: space-between;
}

.draft-card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	text-align: center;
}

.swimlane-heading {
	/* background-color: white; */
	@apply text-xl font-medium p-2;
	margin: 10px 0px;
}

#high-priority-heading {
	background-color: #df0b39;
}
#all-other-tasks-heading {
	background-color: #0d71c4;
}
#done-tasks-heading {
	background-color: #0d7016;
}

@media (max-width: 900px) {
	.login-page {
		flex-direction: column;
		align-items: center;
	}
}
.login-page-full,
.register-page-full {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

.login-page,
.register-page {
	display: flex;
	/* max-height: 95vh; */
	align-items: stretch;
	background-color: white;
	flex: 1;
}
.login-section,
.register-section {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50%;
	background-color: #7eace0;
	position: relative;
}

.form-title {
	font-weight: 600;
	margin-bottom: 30px;
}

.login-container,
.register-container {
	margin: 2%;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	background: white;
	padding: 5rem 3rem;
	max-width: 98%;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: center;
}

.image-background {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50%;
	background-color: #b7d2f0;
	position: relative;
}
.image-hero {
	border-radius: 1rem;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
	width: 80%;
	margin: 5px;
	height: auto;
}

.input-icon {
	max-height: 16px;
	max-width: 16px;
}
.login-form,
.register-form {
	width: 100%;
	height: 100%;
}
.login-form .input,
.register-form .input {
	align-items: center;
	display: flex;
	position: relative;
}

.login-form .input {
	margin: 1.5rem 0;
	height: 40px;
}

.register-form .input {
	margin: 1rem 0;
	height: 35px;
}

.login-form .input .input-field,
.register-form .input .input-field {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 1.1rem;
	border-radius: 0.3rem;
	border: 1px solid #ddd9e2;
	padding: 0 1.25rem 0 3rem;
	transition: 0.25s ease;
}

.login-form .input .input-field:focus,
.register-form .input .input-field:focus {
	border-color: rgb(75, 50, 218);
}

.login-form .input .input-field::placeholder,
.register-form .input .input-field::placeholder {
	color: rgb(197, 193, 219);
}

.logout-button {
	color: rgb(237, 235, 245);
	background-color: rgb(92, 67, 233);
	cursor: pointer;
	outline: none;
	border-radius: 0.5rem;
	border: none;
	height: 30px;
	font-weight: 500;
	font-size: 0.9rem;
	padding: 5px 10px;
	align-items: center;
	display: flex;
}

.login-form .login-button,
.register-form .login-button {
	width: 100%;
	margin: 1.5rem 0;
	color: rgb(237, 235, 245);
	background-color: rgb(92, 67, 233);
	height: 50px;
	margin: none;
	cursor: pointer;
	outline: none;
	font-weight: 500;
	border-radius: 0.5rem;
	font-size: 1.12rem;
	border: none;
}
.login-form .login-button,
.register-form .register-button,
.logout-button:hover {
	background-color: rgb(61, 36, 201);
	transition: 0.1s ease;
}

.header-logo,
.header-logout {
	min-width: 15%;
	display: flex;
}

.header-logout {
	justify-content: flex-end;
}
.login-container a,
.register-container a {
	color: rgb(61, 36, 201);
	text-decoration: none;
}

.login-container a:hover,
.register-container a:hover {
	text-decoration: underline;
}

.login-form .input i {
	color: #ddd9e2;
	position: absolute;
}

.login-form .input i:not(.eye-icon) {
	left: 10px;
}

.login-form .input i.eye-icon {
	cursor: pointer;
	right: 10px;
	display: none;
}

.login-form .input .input-field:valid ~ i.eye-icon {
	display: block;
}

hr.or-divider {
	height: 1px;
	width: 100%;
	margin: 25px 0;
	padding: 0;
	overflow: visible;
	text-align: center;
	top: 50%;
	position: relative;
}

hr.or-divider:after {
	content: "or";
	padding: 0 16px;
	position: relative;
	top: -10px;
	background: #ffffff;
	font-weight: 500;
}

.small-text {
	font-size: small;
}
.no-account-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
}
.no-account-section .no-account-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: auto;
	margin: 3px 0;
}

.material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
}

.register-form {
}
